:root {
	--bg-color: white;
	--text-color: #222;
	--heading-color: teal;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.125rem;
	background-color: var(--bg-color);
	color: var(--text-color);
	line-height: 1.5;
}

a {
	color: inherit;
}

h1,
h2,
h3 {
	line-height: 1.2;
	color: var(--heading-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #222;
		--text-color: white;
		--heading-color: rgb(204, 206, 67);
	}
}
